# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
dist20200524.zip
src/assets/media/demos/demo1.jpg
src/assets/media/demos/demo2.jpg
src/assets/media/demos/demo3.jpg
src/assets/media/demos/demo4.jpg
src/assets/media/demos/demo5.jpg
src/assets/media/demos/demo6.jpg
src/assets/media/demos/demo7.jpg
src/assets/media/demos/demo8.jpg
src/assets/media/demos/demo9.jpg
src/assets/media/demos/demo10.jpg
src/assets/media/demos/demo11.jpg
src/assets/media/demos/demo12.jpg
src/assets/media/demos/demo13.jpg
src/assets/media/demos/demo14.jpg
src/assets/media/demos/demo15.jpg
src/assets/media/demos/demo16.jpg
src/assets/media/demos/demo17.jpg
src/assets/media/demos/demo18.jpg
src/assets/media/demos/demo19.jpg
src/assets/media/demos/demo20.jpg
src/assets/media/demos/demo21.jpg
src/assets/media/demos/demo22.jpg
src/assets/media/demos/demo23.jpg
src/assets/media/demos/demo24.jpg
src/assets/media/demos/demo25.jpg
src/assets/media/demos/demo26.jpg
src/assets/media/demos/demo27.jpg
src/assets/media/demos/demo28.jpg
src/assets/media/demos/demo29.jpg
src/assets/media/demos/demo30.jpg
src/assets/media/stock-600x400/img-1.jpg
src/assets/media/stock-600x400/img-2.jpg
src/assets/media/stock-600x400/img-3.jpg
src/assets/media/stock-600x400/img-4.jpg
src/assets/media/stock-600x400/img-5.jpg
src/assets/media/stock-600x400/img-6.jpg
src/assets/media/stock-600x400/img-7.jpg
src/assets/media/stock-600x400/img-8.jpg
src/assets/media/stock-600x400/img-9.jpg
src/assets/media/stock-600x400/img-10.jpg
src/assets/media/stock-600x400/img-11.jpg
src/assets/media/stock-600x400/img-12.jpg
src/assets/media/stock-600x400/img-13.jpg
src/assets/media/stock-600x400/img-14.jpg
src/assets/media/stock-600x400/img-15.jpg
src/assets/media/stock-600x400/img-16.jpg
src/assets/media/stock-600x400/img-17.jpg
src/assets/media/stock-600x400/img-18.jpg
src/assets/media/stock-600x400/img-19.jpg
src/assets/media/stock-600x400/img-20.jpg
src/assets/media/stock-600x400/img-21.jpg
src/assets/media/stock-600x400/img-22.jpg
src/assets/media/stock-600x400/img-23.jpg
src/assets/media/stock-600x400/img-24.jpg
src/assets/media/stock-600x400/img-25.jpg
src/assets/media/stock-600x400/img-26.jpg
src/assets/media/stock-600x400/img-27.jpg
src/assets/media/stock-600x400/img-28.jpg
src/assets/media/stock-600x400/img-29.jpg
src/assets/media/stock-600x400/img-30.jpg
src/assets/media/stock-600x400/img-31.jpg
src/assets/media/stock-600x400/img-32.jpg
src/assets/media/stock-600x400/img-33.jpg
src/assets/media/stock-600x400/img-34.jpg
src/assets/media/stock-600x400/img-35.jpg
src/assets/media/stock-600x400/img-36.jpg
src/assets/media/stock-600x400/img-37.jpg
src/assets/media/stock-600x400/img-38.jpg
src/assets/media/stock-600x400/img-39.jpg
src/assets/media/stock-600x400/img-40.jpg
src/assets/media/stock-600x400/img-41.jpg
src/assets/media/stock-600x400/img-42.jpg
src/assets/media/stock-600x400/img-43.jpg
src/assets/media/stock-600x400/img-44.jpg
src/assets/media/stock-600x400/img-45.jpg
src/assets/media/stock-600x400/img-46.jpg
src/assets/media/stock-600x400/img-47.jpg
src/assets/media/stock-600x400/img-48.jpg
src/assets/media/stock-600x400/img-49.jpg
src/assets/media/stock-600x400/img-50.jpg
src/assets/media/stock-600x400/img-51.jpg
src/assets/media/stock-600x400/img-52.jpg
src/assets/media/stock-600x400/img-53.jpg
src/assets/media/stock-600x400/img-54.jpg
src/assets/media/stock-600x400/img-55.jpg
src/assets/media/stock-600x400/img-56.jpg
src/assets/media/stock-600x400/img-57.jpg
src/assets/media/stock-600x400/img-58.jpg
src/assets/media/stock-600x400/img-59.jpg
src/assets/media/stock-600x400/img-60.jpg
src/assets/media/stock-600x400/img-61.jpg
src/assets/media/stock-600x400/img-62.jpg
src/assets/media/stock-600x400/img-63.jpg
src/assets/media/stock-600x400/img-64.jpg
src/assets/media/stock-600x400/img-65.jpg
src/assets/media/stock-600x400/img-66.jpg
src/assets/media/stock-600x400/img-67.jpg
src/assets/media/stock-600x400/img-68.jpg
src/assets/media/stock-600x400/img-69.jpg
src/assets/media/stock-600x400/img-70.jpg
src/assets/media/stock-600x400/img-71.jpg
src/assets/media/stock-600x600/img-1.jpg
src/assets/media/stock-600x600/img-2.jpg
src/assets/media/stock-600x600/img-3.jpg
src/assets/media/stock-600x600/img-4.jpg
src/assets/media/stock-600x600/img-5.jpg
src/assets/media/stock-600x600/img-6.jpg
src/assets/media/stock-600x600/img-7.jpg
src/assets/media/stock-600x600/img-8.jpg
src/assets/media/stock-600x600/img-9.jpg
src/assets/media/stock-600x600/img-10.jpg
src/assets/media/stock-600x600/img-11.jpg
src/assets/media/stock-600x600/img-12.jpg
src/assets/media/stock-600x600/img-13.jpg
src/assets/media/stock-600x600/img-14.jpg
src/assets/media/stock-600x600/img-15.jpg
src/assets/media/stock-600x600/img-16.jpg
src/assets/media/stock-600x600/img-17.jpg
src/assets/media/stock-600x600/img-18.jpg
